<h2>ユーザー情報</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name：</strong><%= @user.name %>
</p>

<p>
  <strong>Email：</strong>
  <%= @user.email %>
</p>

<p>
<%= link_to '登録情報変更', edit_user_path(@user), class: 'btn btn-primary'  %>
</p>

<br>
<br>

<h2>FXトレードログ</h2>
<p>
<%= link_to 'ログ新規作成', new_trade_path(), class: 'btn btn-primary'  %>
</p>

<ul>
  <% @trades.each do |trade| %>
    <% linkstr = trade.entry_datetime.to_s + '（' + trade.currency_pair.to_s + '）' %>
    <li><%= link_to linkstr, trade_path() %></li>
  <% end %>
</ul>