<h3>[トレード内容]</h3>
<table border="2">

  <tr><th>エントリー日時</th><td><%= @trade.entry_datetime %></td></tr>

  <tr><th>決済日時</th><td><%= @trade.exit_datetime %></td></tr>

  <tr><th>通貨ペア（ポジション）</th><td><%= @trade.currency_pair %>（<%= @trade.position %>）</td></tr>

  <tr><th>エントリーレート</th><td><%= @trade.entry_price %></td></tr>

  <tr><th>利益確定予定レート</th><td><%= @trade.expected_profit %>（<%= @trade.expected_profit_pips %>pips）</td></tr>

  <tr><th>損切予定レート</th><td><%= @trade.loss_cut %>（<%= @trade.loss_cut_pips %>pips）</td></tr>

  <tr><th>取引数量（lot）</th><td><%= @trade.lot %>万通貨</td></tr>

  <tr><th>エントリー時の分析内容</th><td><%= @trade.entry_memo %></td></tr>

  <tr><th>決済レート</th><td><%= @trade.exit_price %></td></tr>
  <tr><th>損益</th><td> <%= @trade.profit_and_loss %>円（<%= @trade.profit_and_loss_pips %>pips）</td></tr>
  <tr><th>取引振り返り</th><td><%= @trade.exit_memo %></td></tr>

</table>
<br>
<div>
  <%= link_to '修正する', edit_trade_path(@trade) %>
</div>

