<p id="notice"><%= notice %></p>

<p>
  <strong>▼エントリー日時</strong>
</p>
<p>
  <%= @trade.entry_datetime %>
</p>
<p>
  <strong>▼決済日時</strong>
</p>
<p>
  <%= @trade.exit_datetime %>
</p>
<p>
  <strong>▼通貨ペア</strong>
</p>
<p>
  <%= @trade.currency_pair %>
  （<%= @trade.position %>）
</p>

<p>
  <strong>▼エントリーレート</strong>
</p>
<p>
  <%= @trade.entry_price %>
</p>

<p>
  <strong>▼利益確定予定レート</strong>
</p>
<p>
  <%= @trade.expected_profit %>
  （<%= @trade.expected_profit_pips %>　pips）
</p>

<p>
  <strong>▼損切予定レート</strong>
</p>
<p>
  <%= @trade.loss_cut %>
  （<%= @trade.loss_cut_pips %>　pips）
</p>

<p>
  <strong>▼取引数量（lot）</strong>
</p>
<p>
  <%= @trade.lot %>　万通貨
</p>

<p>
  <strong>▼エントリー時の分析内容</strong>
</p>
<p>
  <%= @trade.entry_memo %>
</p>

<p>
  <strong>▼決済レート</strong>
</p>
<p>
  <%= @trade.exit_price %>
</p>

<p>
  <strong>▼損益</strong>
</p>
<p>
  <%= @trade.profit_and_loss %>　円
  （<%= @trade.profit_and_loss_pips %>　pips）
</p>

<p>
  <strong>▼取引振り返り</strong>
</p>
<p>
  <%= @trade.exit_memo %>
</p>

<div>
  <%= link_to '修正', edit_trade_path(@trade) %>
</div>

